[Desktop Entry]
Name=Elm
Comment=ELectronic Mail reader
Comment[es]=Agente de mail ELM
Comment[no]=Epostleser
Comment[pl]=Program pocztowy Elm
Comment[pt_BR]=Agente de mail ELM
Comment[sv]=E-postläsare
Exec=elm
MiniIcon=mini-mail.xpm
Icon=mail2.xpm
Terminal=true
Type=Application
# vi: encoding=utf-8
