[Desktop Entry]
Name=Elm
Comment=ELectronic Mail reader
Comment[pl]=Program pocztowy Elm
Exec=elm
MiniIcon=mini-mail.xpm
Icon=mail2.xpm
Terminal=true
Type=Application
