[Desktop Entry]
Name=Elm
Comment=ELectronic Mail reader
Comment[es]=Agente de mail ELM
Comment[nb]=Epostleser
Comment[pl]=Program pocztowy Elm
Comment[pt_BR]=Agente de mail ELM
Comment[sv]=E-postläsare
Icon=elm.png
Exec=elm
Terminal=true
Type=Application
Encoding=UTF-8
# vi: encoding=utf-8
